@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap');

body {
    font-family: 'Texturina', serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

footer div a {
    font-size: 2rem;
    padding-right: 20px;
}

/* Hero section */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #020f1d, #b7d62a);
    mix-blend-mode: overlay;
    z-index: -1;
}

.home .content {
    margin-top: 5rem;
    padding-left: 2px;
}

.home .content h2 {
    font-size: 3.5vw;
    color: #fff;
    text-shadow: 0 0.3rem 0.5rem #000;
}

.home .content p {
    font-size: 1.5vw;
    color: #eee;
    text-shadow: 0 0.3rem 0.5rem #000;
    padding-left: 2rem;
    border-left: 0.3rem solid #ddd;
}

/* media queries  */

@media (max-width: 991px) {
    .home {
        flex-flow: column;
        padding: 1.5rem;
    }
    .home .content {
        text-align: center;
    }
    .home .content h2 {
        font-size: 4rem;
    }
    .home .content p {
        font-size: 1.9rem;
        padding: 0;
        border: none;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 55%;
    }
}