{% extends "base.html" %}
{% block content %}

    <h3 class="black-text center-align">Edit Recipe</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
            <!-- category selection -->
			<div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-green-text accent-3"></i>
					<select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                            {% if category.category_name == recipe.category_name %}
                                <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                            {% else %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
					<label for="category_name">Recipe Category</label>
				</div>
			</div>
            <!-- recipe name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-green-text accent-3"></i>
                    <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50"
                        value="{{ recipe.recipe_name }}" type="text" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <!--recipe country-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-globe left prefix light-green-text accent-3"></i>
                        <select id="recipe_country" name="recipe_country" class="validate" 
                            valie="{{ recipe.recipe_country }}" type="text" required>
                            <option value="">Choose Country</option>
                            <option value="">Africa</option>
                            <option value="">Bangladesh</option>
                            <option value="">India</option>
                            <option value="">Pakistan</option>
                            <option value="">China</option>
                            <option value="">Thailand</option>
                            <option value="">Japan</option>
                            <option value="">Greece</option>
                            <option value="">Italy</option>
                            <option value="">France</option>
                            <option value="">Ireland</option>
                            <option value="">Mexico</option>
                            <option value="">Middle East</option>
                            <option value="">Korea</option>
                            <option value="">Turkey</option>
                            <option value="">Australia</option>
                            <option value="">South America</option>
                            <option value="">Mediterranean</option>
                            <option value="">Croatia</option>
                        </select>
                        <label for="recipe_country">Country</label>
                </div>
            </div>
            <!-- recipe description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-green-text accent-3"></i>
                    <textarea id="recipe_description" name="recipe_description" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required>
                        {{- recipe.recipe_description -}}
                    </textarea>
                    <label for="recipe_description">Recipe Description</label>
                </div>
            </div>
            <!-- recipe ingredients -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-green-text accent-3"></i>
                    <textarea id="recipe_ingredients" name="recipe_ingredients" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required>
                        {{- recipe.recipe_ingredients -}}
                    </textarea>
                    <label for="recipe_ingredients">Recipe Ingredients</label>
                </div>
            </div>
            <!-- instruction -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-green-text accent-3"></i>
                    <textarea id="instruction" name="instruction" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required>
                        {{- recipe.instruction -}}
                    </textarea>
                    <label for="instruction">Instruction</label>
                </div>
            </div>
            <!-- date picker -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix light-green-text accent-3"></i>
                    <input id="date" name="date" type="text" 
                        value="{{ recipe.date }}" class="datepicker validate" required>
                    <label for="date">Posting Date</label>
                </div>
            </div>
            
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- cancel button -->
                    <a href="{{ url_for('get_recipes') }}" class="btn-large red text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large grey darken-4 text-shadow">
                        Edit Recipe <i class="light-green-text accent-3 fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}